@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #404040;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
//$body-size: 18px;
$body-line-height: 1.25;
$family-sans-serif: "Quicksand", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$box-shadow: none;
$box-radius: 3px;
$control-border-width: 2px;
$input-shadow: none;
$blue: #5f6caf;
$info: $blue;
$success: #3D9970;
$danger: #85144b;
$warning: #FF851B;
$primary: #beebe9;
@import '~bulma/bulma';
@import '~bulma-steps-component/bulma-steps';